<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBaccarat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoBaccarat.Properties.Settings>
            <setting name="LocationColorInfo" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ValuePP" serializeAs="String">
                <value>1-3-2-4</value>
            </setting>
            <setting name="ValueNP" serializeAs="String">
                <value>1-2</value>
            </setting>
            <setting name="ValueFib" serializeAs="String">
                <value>1-1-2-3-5-8-13-21-34-55-89-144-233-377-610-987-1597-2584</value>
            </setting>
            <setting name="BettingSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormulaSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormulaLock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormulaFollow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormulaGoodLineFix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BetStopRound" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BetStopWin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BetStopLose" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BetStopLess" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="BetStopMore" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="topMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="moveCur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingBetInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingConfirmClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForceValue" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LoadCustomListCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForceSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocationFormula" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationFormulaEdit" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationBetSystem" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationBetSystemEdit" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SizeMain" serializeAs="String">
                <value>415, 535</value>
            </setting>
            <setting name="LocationLayout" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LoadLayoutListCount" serializeAs="String">
                <value>0</value>
            </setting>
        </AutoBaccarat.Properties.Settings>
    </userSettings>
</configuration>