<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBaccarat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoBaccarat.Properties.Settings>
            <setting name="LocationColorInfo" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="txtPP" serializeAs="String">
                <value>1-3-2-4</value>
            </setting>
            <setting name="txtNP" serializeAs="String">
                <value>1-2</value>
            </setting>
            <setting name="txtFib" serializeAs="String">
                <value>1-1-2-3-5-8-13-21-34-55-89-144-233-377-610-987-1597-2584</value>
            </setting>
            <setting name="_bettingSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_formulaSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_formulaLock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_formulaFollow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_formulaGoodLineFix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_forceSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_forcetxt" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="_customValue" serializeAs="String">
                <value />
            </setting>
            <setting name="_betStopRound" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="_betStopWin" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="_betStopLose" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="_betStopLess" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="_betStopMore" serializeAs="String">
                <value>5000</value>
            </setting>
        </AutoBaccarat.Properties.Settings>
    </userSettings>
</configuration>